.log-in-form {
  border: 1px solid #cacaca;
  background-color: #f3f3f3;
  padding: 2rem;
  border-radius: 0.9rem;
}
.log-in-form h5 {
  font-weight: 500;
  color: #a9a9a9;
  margin-bottom: 1.5rem;
}

.small-links {
  margin-top: 1rem;
  margin-bottom: 0;
}
.small-links i {
  font-size: 18px;
  color: #bebebe;
}
.small-links .btn-text {
  font-size: 12px;
  font-weight: 500;
  margin-left: 5px;
}
