
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:400);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,500);

// Variables
@import "settings";

// Bootstrap
@import "node_modules/foundation-sites/scss/foundation";

@include foundation-everything(true);

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }

  @include breakpoint(large) {
    .title-bar {
      display: none;
    }
  }
}

// Custom styles
@import "ag/ag-layout";
@import "ag/login";
